

.right img {
    width: 110%; /* Adjust the width to your desired value */
    
    margin-top: 100px;
}

@media (max-width: 800px){
    .right img{
        display: none;
    }
}

@media (max-width: 460px){
    .joinus{
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .texthead{
        font-size: 18px;
    }
    .paragra{
        font-size: 9px;
    }
}

@media (max-width: 460px){
    .paragra{
        font-size: 7px;
    }
    .joinus{
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .text-h{
        font-size: 8px;
    }
}